.playlistRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-behavior: smooth;
}

.playlistCard {
  min-width: 280px;
  flex: 0 0 auto;
  background: #898989;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.playlistCard:hover {
  transform: scale(1.03);
}

.playlistCard img {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.playlistCard p {
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.search {
  position: absolute;
  top: 1rem;
  right: 0.2rem;
  z-index: 1001;
  padding: 5px 5px;
  height: 0px;
}

.submitbtn {
  padding: 5px 8px;
  font-size: 12px;
  width: 80px;
  height: 30px;
  background-color: grey;
  margin-left: 10px;
}
