.formInfo {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 25vw;
  padding: 20px 20px;
  border-radius: 14px;
  margin-bottom: 1.5rem;
}

.message {
  height: 5rem;
  resize: vertical;
  white-space: pre-wrap;
  overflow-wrap: normal;
  justify-content: center;
}

.btn {
  display: inline-block;
  flex-direction: column;
  background-color: grey;
  color: black;
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 1rem;
}
.btn:hover {
  background-color: blue;
  color: black;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}
.radiobtn {
  margin-top: 1rem;
  display: flex;
}

.formTemplate {
  display: flex;
  flex-direction: column;
}
